:root {
  --color-primary: #088060;
  --color-secondary: #0ba27a;
  --color-tertiary: #f8f3f3;
  --color-4: #b2f3cf;
  --color-white: #fff;
  --color-black: #000;


}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  text-align: center;
}

.App-logo {
  height: 60vmin;
  pointer-events: none;
}

.show-details-btn {
  border-color: var(--color-primary);
  display: inline-block;
  background-color: var(--color-secondary);
  color: var(--color-tertiary);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba (0, 0, 0, 0.3);
  transition: opacity 0.4s;
  padding: 10px;
}

.show-details-btn:hover, 
.show-details-btn:focus {
    cursor: pointer;
    opacity: 0.8;
}

.App-header {
  background-color: var(--color-primary);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 6vmin);
  color: white;
  margin-bottom: 0px;
}
.h1 {
  background-color: var(--color-primary);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-size: 16px;
  margin-bottom: 30px;
}

.event-information {
  list-style-type: none; /* Removes bullet points */
  padding-left: 0; /* Optional: Removes default left padding */
  width: 500px;               /* Set the width of the container */
  margin: 30px auto;             /* Center the container horizontally */
  text-align: center;         /* Center the text inside the container */
  border: 1px, solid var(--color-4);     /* Optional: Adds a border for visualization */
  padding: 10px;  
}

.eventDetails {
  width: 480px;               /* Set the width of the container */
  margin: 0 auto;             /* Center the container horizontally */
  text-align: left;         /* Center the text inside the container */
  border: none;     /* Optional: Adds a border for visualization */
  padding: 5px;              /* Optional: Adds padding for spacing */
}

.suggestions {
  list-style-type: none; /* Removes bullet points */
  padding-left: 0; /* Optional: Removes default left padding */
  margin: 0;
  width: 150px;
  margin: 0 auto;  
  text-align: left; 
  padding-bottom: 30px; 
  
}

.city {
  font-size: 16px;
}

.NOE {
  margin: 20px;
  font-size: 16px;
}
.alerts-container {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  z-index: 1000;
}

.App-link {
  color: #61dafb;
}


.charts-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-bottom: 0.8rem;
}


@media (max-width: 768px) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

  .charts-container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    gap: 2rem;

  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

